SELECT O.AD,O.SOYAD,B.AD AS BOLUMADI FROM OGRENCI O,BOLUM B
WHERE O.BOLUMID=B.ID

SELECT F.AD AS FAKULTEADI,B.AD AS BOLUMADI,
CONCAT(O.AD," ",O.SOYAD) AS OGRADSOYAD
FROM OGRENCI O
INNER JOIN BOLUM B ON (B.ID=O.BOLUMID)
INNER JOIN FAKULTE F ON (F.ID=B.FAKULTEID)
WHERE B.AD LIKE '%TİK%'
ORDER BY F.AD,B.AD

SELECT  B.AD AS BOLUMADI,CONCAT(O.AD," ",O.SOYAD) AS OGRADSOYAD,
D.AD AS DERSADI,D.KOD,D.KREDI,OD.DERSALISTIPI,OD.DERSKAYITTARIHI
FROM OGRENCI O
INNER JOIN BOLUM B ON (B.ID=O.BOLUMID)
INNER JOIN OGRENCIDERS OD ON (OD.OGRENCI_ID=O.ID)
INNER JOIN DERS D ON (D.ID=OD.DERSID)
WHERE D.KREDI=3

SELECT B.AD AS BOLUMADI,CONCAT(O.AD," ",O.SOYAD) AS OGRADSOYAD,
O.OGRENCINO,D.KOD,D.AD AS DERSADI,D.KREDI,
CONCAT(P.UNVAN," ",P.AD," ",P.SOYAD) AS OGRGOR,
S.SINAVADI,S.KATKIORANI,SN.PUAN
FROM OGRENCI O
INNER JOIN BOLUM B ON (O.BOLUMID=B.ID)
INNER JOIN OGRENCIDERS OD ON (OD.OGRENCI_ID=O.ID)
INNER JOIN DERS D ON (D.ID=OD.DERSID)
INNER JOIN SINAVNOT SN ON (SN.OGRENCIDERSID=OD.ID)
INNER JOIN SINAV S ON (S.ID=SN.SINAVID)
INNER JOIN PERSONEL P ON (P.ID=OD.PERSONELID)


