SELECT * 
FROM OGRENCI O
INNER JOIN BOLUM B ON (O.BOLUMID=B.ID)

SELECT O.AD,O.SOYAD,B.AD AS BOLUMADI,D.AD AS DERSADI 
FROM OGRENCI O
INNER JOIN BOLUM B ON (O.BOLUMID=B.ID)
INNER JOIN OGRENCIDERS OD ON (O.ID=OD.OGRENCI_ID)
INNER JOIN DERS D ON (OD.DERSID=D.ID)

SELECT O.AD,O.SOYAD,B.AD AS BOLUMADI,D.AD AS DERSADI 
FROM OGRENCI O
INNER JOIN BOLUM B ON (O.BOLUMID=B.ID)
INNER JOIN OGRENCIDERS OD ON (O.ID=OD.OGRENCI_ID)
INNER JOIN DERS D ON (OD.DERSID=D.ID)
WHERE O.AD LIKE 'A%'

SELECT F.AD AS FAKULTEADI,
CONCAT(P.UNVAN," ",P.AD," ",P.SOYAD) AS PERSADSOYAD
FROM FAKULTE F
INNER JOIN BOLUM B ON (F.ID=B.FAKULTEID)
INNER JOIN PERSONEL P ON (P.BOLUMID=B.ID)

SELECT B.AD AS BOLUMADI,CONCAT(O.AD," ",O.SOYAD) AS OGRADSOYAD,
O.OGRENCINO,D.AD AS DERSADI,D.KREDI,S.SINAVADI,SN.PUAN,
CONCAT(P.UNVAN," ",P.AD," ",P.SOYAD) AS OGRETIMGOR 
FROM OGRENCI O
INNER JOIN BOLUM B ON (O.BOLUMID=B.ID)
INNER JOIN OGRENCIDERS OD ON (O.ID=OD.OGRENCI_ID)
INNER JOIN DERS D ON (OD.DERSID=D.ID)
INNER JOIN PERSONEL P ON (P.ID=OD.PERSONELID)
INNER JOIN SINAVNOT SN ON (SN.OGRENCIDERSID=OD.ID)
INNER JOIN SINAV S ON (S.ID=SN.SINAVID)
WHERE O.OGRENCINO='123213123'