
SELECT KOD,AD,KREDI FROM `ders` WHERE KOD<>'MAT1001';

SELECT * FROM ogrenci WHERE BOLUMID IN 
	(SELECT ID FROM bolum WHERE ID=2)
    
SELECT * FROM bolum WHERE ID IN (SELECT BOLUMID FROM ogrenci)

SELECT * FROM sinavnot WHERE PUAN BETWEEN 50 AND 80;

SELECT * FROM DERS WHERE KREDI BETWEEN 3 AND 5;

SELECT CONCAT(AD," ",SOYAD) AS ADSOYAD FROM ogrenci WHERE AD LIKE '__M%'

SELECT (PUAN*0.6) AS FINALKATKISI, 
(SELECT (PUAN*0.4) AS VIZEKATKISI FROM sinavnot) FROM sinavnot 

SELECT * FROM ogrenci ORDER BY AD,OGRENCINO DESC

SELECT AD,COUNT(ID) FROM ogrenci GROUP BY AD

SELECT SUM(KREDI) AS TOPLAMKREDI FROM ders 

SELECT AVG(PUAN) AS ORTALAMAPUAN FROM sinavnot 

SELECT MAX(PUAN) AS ORTALAMAPUAN FROM sinavnot 

SELECT MIN(PUAN) AS ORTALAMAPUAN FROM sinavnot 