SELECT CONCAT(AD," ",SOYAD) AS ADSOYAD FROM ogrenci ORDER BY SOYAD

SELECT CONCAT(KOD,"-",AD) AS DERSKODUADI FROM DERS 

SELECT AD,SUBSTRING(AD,2,3) AS SS FROM OGRENCI

SELECT AD AS FAKULTETAMAD,SUBSTRING(AD,1,(LENGTH(AD)-10)) AS FAKULTEKISAAD FROM FAKULTE

SELECT AD,INSTR(AD," FAKUL") FROM FAKULTE

SELECT AD AS FAKULTETAMAD,SUBSTRING(AD,1,INSTR(AD," ")-1) AS FAKULTEKISAAD FROM FAKULTE

SELECT AD,LENGTH(AD),LTRIM(AD),LENGTH(LTRIM(AD))  FROM OGRENCI

SELECT UPPER("işletme fakültesi") as Fakulteadi,LOWER("İŞLETME FAKÜLTESİ") AS Fakulteadi2

SELECT upper(AD) FROM `fakulte`

SELECT AD,SOYAD,(CASE durum when 1 THEN "Aktif" else "Pasif" END) AS DURUM FROM `ogrenci`

SELECT CONCAT(AD," ",SOYAD) AS ADSOYAD, 
(CASE bolumid when 1 THEN "BİYOLOJİ" WHEN 2 THEN "MATEMATİK" WHEN 3 THEN "BİLİŞİM" WHEN 4 THEN "ENERJİ" ELSE "İSTATİSTİK" END) AS BOLUMADI 
FROM OGRENCI 

SELECT ID,AD,SOYAD,OGRENCINO,DURUM,BOLUMID FROM OGRENCI

WHERE KAYITTARIHI is NULL

select bolumid,SUM(kredi) from ders group by bolumid

SELECT NOW(),CURRENT_TIMESTAMP AS TS,CURDATE() AS CD,CURTIME() AS CT

INSERT INTO OGRENCI
(AD,SOYAD,OGRENCINO,DURUM,BOLUMID,KAYITTARIHI)
VALUES("MEHMET","GÜL","17120522",1,5,CURRENT_TIMESTAMP)

SELECT EXTRACT(YEAR FROM KAYITTARIHI) AS YIL,EXTRACT(MONTH FROM KAYITTARIHI) AS AY 
FROM OGRENCI