SELECT CONCAT(AD," ",SOYAD) AS ADSOYAD FROM OGRENCI

SELECT CONCAT(KOD,"-",AD) AS DERSKODU_ADI FROM DERS

SELECT AD,SUBSTRING(AD,1,LENGTH(AD)-10),LENGTH(AD) FROM FAKULTE

SELECT LEFT(AD,3) FROM FAKULTE

SELECT RIGHT(AD,9) FROM FAKULTE

SELECT AD,INSTR(AD," ") FROM FAKULTE 

SELECT AD,SUBSTRING(AD,1,INSTR(AD," ")-1),LENGTH(AD) FROM FAKULTE

SELECT AD,LENGTH(AD),LTRIM(AD),LENGTH(LTRIM(AD)) FROM OGRENCI

SELECT REPLACE(AD,"FAKULTESI","FACULTY") FROM FAKULTE

SELECT LOWER(AD) FROM FAKULTE

SELECT UPPER("işletme fakültesi") 

SELECT AD,SOYAD,(CASE DURUM WHEN 1 THEN "AKTİF" ELSE "PASİF" END) AS DURUMU 
FROM OGRENCI 

SELECT AD,SOYAD,
(CASE BOLUMID 
WHEN 1 THEN "BİYOLOJİ" 
WHEN 2 THEN "MATEMATİK" 
WHEN 3 THEN "BİLİŞİM" 
WHEN 4 THEN "ENERJİ" 
ELSE "İSTATİSTİK" END) AS BOLUMU 
FROM OGRENCI

SELECT NOW(),CURRENT_TIMESTAMP AS CT,CURDATE() AS CD,CURTIME() AS CTIME

INSERT INTO OGRENCI
(AD,SOYAD,OGRENCINO,BOLUMID,KAYITTARIHI)
VALUES("MEHMET","CAN","125545852",4,CURRENT_TIMESTAMP)

SELECT EXTRACT(DAY FROM KAYITTARIHI) AS GUN, 
	EXTRACT(MONTH FROM KAYITTARIHI) AS AY,
    EXTRACT(YEAR FROM KAYITTARIHI) AS YIL
FROM OGRENCI WHERE KAYITTARIHI IS NOT NULL

SELECT *,(SELECT AD FROM BOLUM WHERE ID=OGRENCI.BOLUMID) AS BOLUMADI
FROM OGRENCI 

SELECT O.AD,O.SOYAD,B.AD AS BOLUMADI 
FROM OGRENCI O,BOLUM B 
WHERE O.BOLUMID=B.ID

SELECT B.AD AS OGRENCIBOLUMADI,CONCAT(OG.AD," ",OG.SOYAD) AS ADSOYAD,
D.AD,D.KREDI,CONCAT(P.UNVAN," ",P.AD," ",P.SOYAD) AS PERSONELADSOYAD 
FROM OGRENCIDERS OD,OGRENCI OG,DERS D,PERSONEL P,BOLUM B
WHERE OD.DERSID=D.ID AND 
	  OD.OGRENCI_ID=OG.ID AND 
      OD.PERSONELID=P.ID AND
      OG.BOLUMID=B.ID


